@define-color ws-active     #89dceb;
@define-color ws-inactive   #585b70;
@define-color ws-hover      #dddddd;
@define-color ws-urgent     #fb2c36;
@define-color ws-maximize   #dfe294;
@define-color bg-panel      #1a1b26;
@define-color sel-hover     #dddddd;
@define-color fg-critical   #e78284;




/* margin: VERTICAL HORIZONTAL; */

* {
    font-family: 'JetBrainsMono', 'JetBrainsMono Nerd Font', 'Segoe UI', sans-serif;
    /* font-family: 'Ubuntu'; */
    font-size: 14px;
    min-height: 0;
    padding: 0px;
}
#waybar {
    background: transparent;
    color: #c6d0f5;
    margin: 0px;
    font-weight: 800;

    background: rgba(20, 20, 20, 0.7);
    margin: 20px;
	/* padding doesn't work here; Using modules */

	border-bottom: 3px;
	border-color: @bg-panel;
	border-style: solid;
	
    /* border-top-left-radius: 16px; */
    /* border-top-right-radius: 16px; */
}


.modules-left   { padding-left: 10px; }
.modules-center { padding-top: 14px; }
.modules-right  { padding-right: 10px; }



/* MODULE: Workspaces */
#workspaces {
    background-color: @bg-panel;
    padding: 2px;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    min-width: 0;
    border: none;
    /* Transition for background-color and color only */
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
#workspaces button {
    /* padding: 0 1rem; */
    min-width: 16px;
    min-height: 16px;
    border-radius: 100px;
    margin: 4px;
    transition: all 0.2s ease-in-out;

    background: @ws-inactive;
    border: 2px solid @ws-inactive;
}
#workspaces button label { font-size: 1px; }

#workspaces button.empty {
    background: none;			border-color: @ws-inactive;
}
#workspaces button.active {
    background: @ws-active;		border-color: @ws-active;
	min-width: 36px;
}
#workspaces button:hover {
    background: @ws-hover;		border-color: @ws-hover;
}
#workspaces button.urgent {
    background: @ws-urgent;		border-color: @ws-urgent;
}

/* --- ANIMATION --- */
.module {
    background-color: @bg-panel;
    /* padding: 0.2rem 0.7rem; */
    padding: 0px 0.7rem;
    border-radius: 0;
    min-width: 0;
    border: none;
    transition: background-color, border 0.2s ease-in-out, color 0.2s ease-in-out;
}

.module:hover {
    background-color: rgb(41, 42, 53);
	border-bottom: 2px @sel-hover solid;
}


/* MODULE: Spotify */
#custom-spotify {
	background: none;
}

/* MODULE: Clock */
#clock {
    padding: 0.3rem 0.7rem;
    font-weight: 500;
    min-width: 0;
    /* border: none; */
}


/* MODULE: Pulse Audio */
#pulseaudio {
    color: #c6d0f5;
}


/* MODULE: Network */
#network                { color: #c6d0f5; }
#network.disconnected	{ color: @fg-critical; }


/* MODULE: Bluetooth */
#bluetooth              { color: #888888; font-size: 16px; }
#bluetooth.on			{ color: #2196f3; }
#bluetooth.connected	{ color: #99d1db; }


/* MODULE: Battery */
#battery                        { color: #99d1db; }
#battery.charging				{ color: #a6d189; }
#battery.warning:not(.charging)	{ color: @fg-critical; }
#battery.critical:not(.charging){ color: @fg-critical; }

/* --- Tooltip Styles --- */
tooltip {
    background-color: @bg-panel;
    color: #dddddd;
    padding: 5px 12px;
    margin: 5px 0px;
    border-radius: 2px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    font-size: 12px;
}
