@define-color ws-active     #94e2d5;
@define-color ws-inactive   #585b70;
@define-color ws-hover      #dddddd;
@define-color ws-urgent     #fb2c36;
@define-color ws-maximize   #dfe294;
@define-color bg-panel      #1a1b26;



/* margin: 5px 0px; */
/* 5px top-bottom, 0px left-right*/

* {
    font-family: 'JetBrainsMono', 'Hack', 'Segoe UI', 'JetBrainsMono Nerd Font', sans-serif;
    font-size: 14px;
    min-height: 0;
    padding: 0px;
    /* --workspace-active: rgb(148, 226, 213); */
}
#waybar {
    background: transparent;
    color: #c6d0f5;
    margin: 0px;
    font-weight: 500;

    background: rgba(20, 20, 20, 0.7);
    margin: 20px;

	border-bottom: 3px;
	border-color: @bg-panel;
	border-style: solid;
}


/* MODULE: Workspaces */
#workspaces {
    background-color: @bg-panel;
	margin-top: 5px;
    padding: 2px;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    min-width: 0;
    border: none;
    /* Transition for background-color and color only */
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
#workspaces button {
    /* padding: 0 1rem; */
    font-size: 1px;
    min-width: 17px;
    min-height: 16px;
    border-radius: 100px;
    margin: 4px;
    transition: all 0.15s ease-in;

    background: @ws-inactive;
    border: 2px solid @ws-inactive;
}
#workspaces button.empty {
    background: none;
    border-color: @ws-inactive;
}
#workspaces button.active {
    background: @ws-active;
    border-color: @ws-active;
}
#workspaces button:hover {
    background: @ws-hover;
    border-color: @ws-hover;
}
#workspaces button.urgent {
    background: @ws-urgent;
    border-color: @ws-urgent;
}

/* --- ANIMATION --- */
#pulseaudio,
#network,
#battery {
    background-color: @bg-panel;
    padding: 0.3rem 0.7rem;
    margin: 5px 0px; 
    border-radius: 0;
    min-width: 0;
    border: none;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
#pulseaudio:hover,
#network:hover,
#battery:hover {
    background-color: rgb(41, 42, 53);
}


/* MODULE: Clock */
#clock {
    background-color: @bg-panel;
    color: #99d1db;
    padding: 0.3rem 0.7rem;
    margin: 5px 0px;
    font-weight: 500;
    min-width: 0;
    border: none;
}


/* MODULE: Pulse Audio */
#pulseaudio {
    color: #c6d0f5;
}


/* MODULE: Network */
#network {
    color: #c6d0f5;
}
#network.disconnected {
    color: #e78284;
}


/* MODULE: Bluetooth */
#bluetooth {
    color: #888888;
    font-size: 16px;
}
#bluetooth.on {
    color: #2196f3;
}
#bluetooth.connected {
    color: #99d1db;
}


/* MODULE: Battery */
#battery {
    color: #99d1db;
}
#battery.charging {
    color: #a6d189;
}
#battery.warning:not(.charging) {
    color: #e78284;
}
#battery.critical:not(.charging) {
    color: #e78284;
}

/* --- Tooltip Styles --- */
tooltip {
    background-color: @bg-panel;
    color: #dddddd;
    padding: 5px 12px;
    margin: 5px 0px;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    font-size: 12px;
}
