@define-color ws-active     #89dceb;
@define-color ws-inactive   #585b70;
@define-color ws-hover      #dddddd;
@define-color ws-urgent     #fb2c36;
@define-color ws-maximize   #dfe294;
@define-color bg-panel      #1a1b26;
@define-color bg-glass      #393939;
@define-color sel-hover     #dddddd;
@define-color fg-white      #c6d0f5;
@define-color th-critical   #e78284;
@define-color th-green      #a6d189;
@define-color th-cyan       #99d1db;



/* margin: VERTICAL HORIZONTAL; */

* {
    font-family: 'JetBrainsMono', 'JetBrainsMono Nerd Font', 'Segoe UI', sans-serif;
    font-size: 16px;
    min-height: 0;
    padding: 0px;
}
#waybar {
    background: transparent;
    color: @fg-white;
    margin: 0px;
    font-weight: 500;

    background: alpha(@bg-glass, 0.5);
    /* margin: 20px; */
	/* padding doesn't work here; Using modules */

	border-bottom: 3px;
	border-color: alpha(@bg-panel, 0.6);
	border-style: solid;
}


.modules-left {
	padding-left: 30px;
	padding-right: 10px;
	border-top-right-radius:    20px;
	border-bottom-right-radius: 30px;
}
.modules-center {
	padding-top: 4px;
}
.modules-right {
	padding-left: 10px;
	padding-right: 30px;
	border-top-left-radius:     30px;
	border-bottom-left-radius:  30px;
}
.modules-left, .modules-right {
    background-color: alpha(@bg-panel, 0.9);
    border: none;
}



/* MODULE: Workspaces */
#workspaces {
    background-color: alpha(@bg-panel, 0.9);
    padding: 2px 2px;

	border-radius: 0px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    border: none;
    /* Transition for background-color and color only */
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
#workspaces button {
    /* padding: 0 1rem; */
    min-width: 16px;
    min-height: 16px;
    border-radius: 100px;
    margin: 4px;
    transition: all 0.2s ease-in-out;

    background: @ws-inactive;
    border: 2px solid @ws-inactive;
}
#workspaces button label { font-size: 1px; }

#workspaces button.empty {
    background: none;			border-color: @ws-inactive;
}
#workspaces button.active {
    background: @ws-active;		border-color: @ws-active;
	min-width: 36px;
}
#workspaces button:hover {
    background: @ws-hover;		border-color: @ws-hover;
}
#workspaces button.urgent {
    background: @ws-urgent;		border-color: @ws-urgent;
}

/* --- ANIMATION --- */
#clock,

#battery,
#pulseaudio,
#bluetooth,
#custom-gammastep,
#network,
#custom-power {
    /* background-color: @bg-panel; */
    /* padding: 0.2rem 0.7rem; */
    /* border-radius: 0; */
    /* min-width: 0; */
    /* border: none; */
    padding: 0px 0.4rem;
	border-radius: 10px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

#clock:hover,

#battery:hover,
#pulseaudio:hover,
#bluetooth:hover,
#custom-gammastep:hover,
#network:hover,
#custom-power:hover {
    /* background-color: rgb(41, 42, 53); */
	/* border-bottom: 2px @sel-hover solid; */
	background-color: antiquewhite;
	color: black;
}


/* --- ICON MODULES --- */
#battery,
#pulseaudio,
#bluetooth,
#custom-gammastep,
#network,
#custom-power {
	font-size: 16px;
	min-width: 16px;
	/* padding: 5px; */
}


/* MODULE: Spotify */
#custom-spotify {
	background: none;
	font-size: 12px;
}

/* MODULE: Clock */
#clock {
    /* padding: 0.3rem 0.7rem; */
    /* font-weight: 500; */
    min-width: 0;
}
#clock.time {
	/* font-size: 15px; */
}
#clock.date {
	opacity: 0.8;
    font-weight: 300;
}

/* MODULE: Pulse Audio */
#pulseaudio {
    color: @fg-white;
}

/* MODULE: Network */
#network {
	color: @fg-white;
}
#network.disconnected { color: @th-critical; }


/* MODULE: Bluetooth */
#bluetooth { color: @th-cyan; }


/* MODULE: Battery */
#battery                        { color: @th-cyan; }
#battery.charging				{ color: @th-green; }
#battery.warning:not(.charging),
#battery.critical:not(.charging){ color: @th-critical; }

/* --- Tooltip Styles --- */
#custom-separator {
	/* background-color: @fg-color; */
	/* padding: 0; */
	/* font-size: 0px; */
	/* min-width: 2px; */
}

/* --- Tooltip Styles --- */
tooltip {
    background-color: @bg-panel;
    color: #dddddd;
    padding: 5px 12px;
    margin: 5px 0px;
    border-radius: 2px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
tooltip label {
    font-size: 12px;
}
