* {
    font-family: 'JetBrainsMono', 'Hack', 'Segoe UI', 'JetBrainsMono Nerd Font', sans-serif;
    font-size: 14px;
    min-height: 0;
    padding: 0px;
}
#waybar {
    background: transparent;
    color: #c6d0f5;
    margin: 0px;
    font-weight: 500;

    background: rgba(20, 20, 20, 0.8);
    margin: 20px;
}


/* MODULE: Workspaces */
#workspaces {
    background-color: #1a1b26;
    /* padding: 0.3rem 0.7rem; */
    margin: 5px 0px; /* 5px top-bottom, 0px left-right*/
    padding: 2px;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    min-width: 0;
    border: none;
    /* Transition for background-color and color only */
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
#workspaces button {
    color: #babbf1;
    border-radius: 5px; /* Workspaces buttons are always rounded */
    padding: 0.3rem 0.6rem;
    background: transparent;
    transition: all 0.2s ease-in-out;
    border: none;
    outline: none;
}
#workspaces button.active {
    color: #99d1db;
    background-color: rgba(153, 209, 219, 0.1);
    box-shadow: inset 0 0 0 1px rgba(153, 209, 219, 0.2);
}
#workspaces button:hover {
    background: rgb(41, 42, 53); /* Reference bright hover color */
    color: #c6d0f5;
}


/* --- ANIMATION --- */
#pulseaudio,
#network,
#battery {
    background-color: #1a1b26;
    padding: 0.3rem 0.7rem;
    margin: 5px 0px; 
    border-radius: 0;
    box-shadow: none;
    min-width: 0;
    border: none;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
#pulseaudio:hover,
#network:hover,
#battery:hover {
    background-color: rgb(41, 42, 53);
}


/* MODULE: Clock */
#clock {
    background-color: #1a1b26;
    color: #99d1db;
    padding: 0.3rem 0.7rem;
    margin: 5px 0px;
    font-weight: 500;
    box-shadow: 0 1px 3px rgba(153, 209, 219, 0.2);
    min-width: 0;
    border: none;
}


/* MODULE: Pulse Audio */
#pulseaudio {
    color: #c6d0f5;
}


/* MODULE: Network */
#network {
    color: #c6d0f5;
}
#network.disconnected {
    color: #e78284;
}


/* MODULE: Bluetooth */
#bluetooth {
    color: #888888;
    font-size: 16px;
    margin-left: 0px; 
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
#bluetooth.on {
    color: #2196f3;
}
#bluetooth.connected {
    color: #99d1db;
}


/* MODULE: Battery */
#battery {
    color: #99d1db;
}
#battery.charging {
    color: #a6d189;
}
#battery.warning:not(.charging) {
    color: #e78284;
}
#battery.critical:not(.charging) {
    color: #e78284;
}

/* --- Tooltip Styles --- */
tooltip {
    background-color: #1a1b26;
    color: #dddddd;
    padding: 5px 12px;
    margin: 5px 0px;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    font-size: 12px;
}
