@define-color th-blue       #62bdfb;
@define-color th-green      #7cfb62;
@define-color th-critical   #f8cd0f;
@define-color ws-inactive   #4f5267;
@define-color ws-hover      #dddddd;
@define-color ws-maximize   #dfe294;
@define-color bg-center     #15161e;
@define-color bg-whole      #252734;
@define-color sel-hover     #dddddd;
@define-color fg-white      #c6d0f5;
@define-color fg-inactive   #9ea6c4;
@define-color highlight     #dddddd;



/* margin: VERTICAL HORIZONTAL; */

* {
    font-family: 'JetBrainsMono', 'JetBrainsMono Nerd Font', 'Segoe UI', sans-serif;
    font-size: 16px;
    min-height: 0;
    padding: 0px;
}
#waybar {
    background: transparent;
    color: @fg-white;
    margin: 0px;
    font-weight: 500;

	background-color: alpha(@bg-whole, 0.9);

	/* padding, margin doesn't work here; Using modules */
}


.modules-left   { padding-left: 30px; }
.modules-center { padding-bottom: 6px; }
.modules-right  { padding-right: 30px; }



/* MODULE: Workspaces */
#workspaces {
    background-color: @bg-center;
    padding: 4px 4px;

	border-radius: 0px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
	border: 1px #3e4052 solid;
	border-top: none;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
#workspaces button {
    min-width: 16px;
    min-height: 16px;
    border-radius: 99px;
    margin: 4px;

    background: @ws-inactive;
    border: 2px solid @ws-inactive;

    transition: all 0.2s ease-in-out;
}
#workspaces button label { font-size: 1px; }

#workspaces button.empty {
    background: none;			border-color: @ws-inactive;
}
#workspaces button.active {
	min-width: 36px;
    background: @th-blue;		border-color: @th-blue;
}
#workspaces button:hover {
    background: @ws-hover;		border-color: @ws-hover;
}
#workspaces button.urgent {
    background: @th-critical;	border-color: @th-critical;
}



/* --- ICON MODULES --- */
#battery,
#pulseaudio,
#bluetooth,
#custom-gammastep,
#network,
#custom-power {
	font-size: 16px;
	min-width: 16px;
}


/* MODULE: Spotify */
#custom-spotify {
	background: none;
	font-size: 12px;
}


/* MODULE: Clock */
#clock {
    min-width: 0;
}
#clock.time {
	margin-right: 0.7rem;
}
#clock.date {
	color: @fg-inactive;
    font-weight: 300;
}


/* MODULE: Network */
#network.disconnected { color: @th-critical; }


/* MODULE: Battery */
#battery                        { color: @th-blue; }
#battery.charging				{ color: @th-green; }
#battery.warning:not(.charging),
#battery.critical:not(.charging){ color: @th-critical; }


/* --- TOOLTIP --- */
tooltip {
    background-color: @bg-center;
    color: #dddddd;
    padding: 5px 12px;
    margin: 5px 0px;
    border-radius: 2px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
tooltip label {
    font-size: 14px;
}



/* --- ANIMATION --- */
#clock,
#battery,
#pulseaudio,
#bluetooth,
#custom-gammastep,
#network,
#custom-power {
    padding: 0px 0.4rem;
	border-radius: 10px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

#clock:hover,
#battery:hover,
#pulseaudio:hover,
#bluetooth:hover,
#custom-gammastep:hover,
#network:hover,
#custom-power:hover {
	background-color: @fg-white;
	color: black;
}
